small {
    margin-top: -15px;
    margin-bottom: 15px;
}

.card-avatar {
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    position: relative;
    text-align: center;
}

.card-avatar p {
    position: absolute;
    width: 100%;
    background: rgba(31, 51, 162, 0.5);
    color: #ffffff;
    text-transform: uppercase;
    transition: all 0.5s ease;
    margin-top: 70%;
}
