<form [formGroup]="certificadoForm">
    <!-- ===== Renglón  -->
    <div class="row">
        <!-- ===== Columna de Nombre ===== -->
        <div class="col-md-6">
            <mat-form-field>
                <input matInput placeholder="Nombre" type="text" formControlName="nombre" required>
                <mat-error *ngIf="campoNoValido('nombre')">Este campo es obligatorio*</mat-error>
            </mat-form-field>
        </div>
        <!-- ===== Columna de Descripcion ===== -->
        <div class="col-md-6">
            <mat-form-field>
                <input matInput placeholder="Descripción" type="text" formControlName="descripcion" required>
                <mat-error *ngIf="campoNoValido('descripcion')">Este campo es obligatorio*</mat-error>
            </mat-form-field>
        </div>

    </div>
    <!-- ===== Renglón ===== -->
    <div class="row">
        <div class="col-md-6">
            <mat-form-field>
                <input matInput placeholder="Constancia" type="text" formControlName="constancia" required>
                <mat-error *ngIf="campoNoValido('constancia')">Este campo es obligatorio*</mat-error>
            </mat-form-field>
        </div>
        <div class="col-md-6">
            <mat-form-field>
                <input matInput placeholder="Link" type="url">
            </mat-form-field>
        </div>

    </div>
    <!-- Renglón justificado al final -->
    <div class="row justify-content-end">
        <!-- ===== btn icon cancelar ===== -->
        <button class="btn btn-danger btn-sm btn-just-icon m-r">
            <i class="material-icons">close</i>
        </button>
        <!-- ===== btn icon aceptar ===== -->
        <button type="button" class="btn btn-success btn-sm btn-just-icon m-r">
            <i class="material-icons">done</i>
        </button>
    </div>
</form>