<div class="main-content">
    <div class="row ">
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-success card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">content_copy</i>
                    </div>
                    <p class="card-category">Aceptada</p>
                    <h3 class="card-title">{{nAceptadas}}</h3>
                </div>
                <div class="card-footer">
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-danger card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">store</i>
                    </div>
                    <p class="card-category">Rechazada</p>
                    <h3 class="card-title">{{nRechazadas}}</h3>
                </div>
                <div class="card-footer">
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-info card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">store</i>
                    </div>
                    <p class="card-category">Pendiente</p>
                    <h3 class="card-title">{{nPendientes}}</h3>
                </div>
                <div class="card-footer">
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-tittle">Mis postulaciones</h4>
                    <p class="card-category">Lista de las vacantes a las que me he postulado</p>
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead class="text-primary text-center">
                            <th>Fecha</th>
                            <th>Empresa</th>
                            <th>Puesto</th>
                            <th>Nivel</th>
                            <th>Modalidad</th>
                            <th>Status</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let postulacion of postulaciones" class="text-center">
                                <td>{{postulacion.fecha_postulacion}}</td>
                                <td>{{postulacion.Vacante.Usuario.nombre}}</td>
                                <td>{{postulacion.Vacante.puesto}}</td>
                                <td>{{postulacion.Vacante.nivel}}</td>
                                <td>{{postulacion.Vacante.modalidad}}</td>
                                <td *ngIf="statusVacante(postulacion.rechazada)" class="text-danger">Rechazada</td>
                                <td *ngIf="statusVacante(postulacion.aceptada)" class="text-success">Aceptada</td>
                                <td *ngIf="!statusVacante(postulacion.rechazada) && !statusVacante(postulacion.aceptada)" class="text-info">Pendiente</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>