<div class="row justify-content-center align-items-center vh-100">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title">Recuperar Contraseña</h4>
                <p class="card-category">Ingrese su nueva contraseña</p>
            </div>
            <div class="card-body">
                <form (ngSubmit)="forgetPassword(passForm)" autocomplete="off" [formGroup]="passForm">
                    <mat-form-field class="example-full-width">
                        <input matInput type="password" placeholder="Nueva Contraseña" formControlName="pass">
                        <mat-error *ngIf="controlNoValid('pass')">Debe contener al menos 6 letras</mat-error>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <input matInput type="password" placeholder="Confirmar Contraseña" formControlName="password">
                        <mat-error *ngIf="validarPassword()">Las contraseñas no coinciden</mat-error>
                    </mat-form-field>

                    <button class="btn btn-primary pull-right" type="submit">Cambiar Contraseña</button>

                </form>
            </div>
        </div>
        <div class="row justify-content-center">
            <img src="../../../assets/img/renew-pass.svg" class="rounded" alt="Recuperar Contraseña" width="50%">
        </div>
    </div>
</div>