<div class="container">
  <div class="row mt-5">
    <div class="col">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="text-center">
            <i class="fa fa-lock fa-7x"></i>
            <h2 class="text-center"> ¿Olvidaste la contraseña? </h2>
            <p> Para poder restaurar tu contraseña ingresa tu correo aquí</p>
            <div class="panel-body">
              <form id="register-form" role="form" autocomplete="off" class="form" method="post">
                <div class="form-group">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                    <input id="email" name="email" placeholder="Correo Electrónico" formControlName="email" class="form-control"  type="email">
                  </div>
                </div>
                <br>
                <div class="form-group">
                  <input name="recover-submit" class="btn btn-lg btn-primary btn-block" value="Restaurar contraseña" type="submit">
                </div>

                <input type="hidden" class="hide" name="token" id="token" value="">
              </form>

            </div>
          </div>
        </div>
      </div>
      <!--<i class="fa fa-lock fa-9x"></i>-->
    </div>
  </div>
</div>
