<div class="limiter animated fadeInRight">
  <div class="container-login100">
    <form (ngSubmit)="forgetPassword( passForm )"
          class="login100-form validate-form flex-sb flex-w"
          autocomplete="off"
          [formGroup]="passForm">

            <span class="login100-form-title p-b-51">
                Recuperar contraseña
            </span>

      <small *ngIf="controlNoValid('pass')" class="form-text text-danger">
        * Debe contener al menos 6 letras
        <br>
      </small>
      <div class="wrap-input100 m-b-16">
        <input class="input100"
               type="password"
               formControlName="pass"
               placeholder="Nueva contraseña">

        <span class="focus-input100"></span>
      </div>

      <small *ngIf="validarPassword()" class="form-text text-danger">
        ** La contraseña no coincide
        <br>
      </small>
      <div class="wrap-input100 m-b-16">
        <input class="input100"
               type="password"
               formControlName="password"
               placeholder="Confirmar contraseña">
        <span class="focus-input100"></span>
      </div>

      <div class="container-login100-form-btn m-t-17">
        <button class="login100-form-btn" type="submit">
          Cambiar
        </button>
      </div>

    </form>
    <div class="wrap-login100 p-t-50 p-b-90">
    </div>
  </div>
</div>
