<div class="container2" [class.sign-up-mode]="register">
    <!-- Formularios -->
    <div class="forms-container2">
        <div class="signin-signup">

            <!-- Login Form -->
            <form class="sign-in-form" autocomplete="off" (ngSubmit)="login(loginForm)" [formGroup]="loginForm">
                <h2 class="title">Inicio de Sesión</h2>
                <!-- Email -->
                <div class="input-field">
                    <i class="fas fa-envelope"></i>
                    <input type="text" placeholder="Correo Electrónico" formControlName="email">
                </div>
                <small *ngIf="controlNoValid(loginForm,'email')" class="form-text text-danger">
          * Correo electrónico no válido
          <br>
        </small>
                <!-- Password -->
                <div class="input-field">
                    <i class="fas fa-lock"></i>
                    <input type="password" placeholder="Contraseña" formControlName="pass" />
                </div>
                <small *ngIf="controlNoValid(loginForm,'pass')" class="form-text text-danger">
          * Debe ser mayor o igual a 6 letras
          <br>
        </small>
                <!-- Type -->
                <div class="input-field">
                    <i class="fas fa-angle-down"></i>
                    <select class="form-select" id="inputGroupSelect01" name="type" formControlName="type">
            <option value="null" hidden selected > Quiero registrarme como.. </option>
            <option value="u">Aspirante</option>
            <option value="e">Empresa</option>
          </select>
                </div>
                <small *ngIf="controlNoValid(loginForm,'type')" class="form-text text-danger">
          * Elegir una opción válida
          <br>
        </small>
                <!-- RememberMe -->
                <div class="checkbox checkbox-primary">
                    <input type="checkbox" name="rememberMe" id="checkbox-signup" formControlName="rememberMe">
                    <label for="checkbox-signup" class="subtitle">&nbsp;¿Recordárme? </label>
                </div>
                <button class="btn submit" [class.solid]="!register">Entrar</button>
                <a class="subtitle" (click)="recoverPassword()"> Olvidé mi contraseña </a>
                <app-social-media></app-social-media>
            </form>

            <!-- Register Form -->
            <form class="sign-up-form">
                <h2 class="title">¡Bienvenido!</h2>
                <!-- Seleción de formulario -->
                <div class="input-field">
                    <i class="fas fa-angle-down"></i>
                    <select class="form-select" id="inputGroupSelect02" name="type" [(ngModel)]="type">
            <option value="">Soy un(a) ...</option>
            <option value="u">Aspirante</option>
            <option value="e">Empresa</option>
          </select>
                </div>

                <!-- Si selecciona USUARIO -->
                <form autocomplete="off" (ngSubmit)="registro(registerUsuarioForm)" [formGroup]="registerUsuarioForm">
                    <!-- Mostrar formulario -->
                    <div *ngIf="type == 'u'">
                        <div *ngIf="part">
                            <!-- Nombre -->
                            <div class="input-field">
                                <i class="fas fa-user"></i>
                                <input type="text" placeholder="Nombre" formControlName="nombre" />
                            </div>
                            <small *ngIf="controlNoValid(registerUsuarioForm,'nombre')" class="form-text text-danger">
                * Debe contener al menos 3 letras
                <br>
              </small>
                            <!-- Apellido paterno -->
                            <div class="input-field">
                                <i class="fas fa-envelope"></i>
                                <input type="text" placeholder="Apellido Paterno" formControlName="apellido_paterno" />
                            </div>
                            <small *ngIf="controlNoValid(registerUsuarioForm,'apellido_paterno')" class="form-text text-danger">
                * Debe contener al menos 3 letras
                <br>
              </small>
                            <!-- Apellido materno -->
                            <div class="input-field">
                                <i class="fas fa-envelope"></i>
                                <input type="text" placeholder="Apellido Materno" formControlName="apellido_materno" />
                            </div>
                            <small *ngIf="controlNoValid(registerUsuarioForm,'apellido_materno')" class="form-text text-danger">
                * Debe contener al menos 3 letras
                <br>
              </small>
                            <!-- fecha_nacimiento -->
                            <div class="input-field">
                                <i class="fas fa-calendar"></i>
                                <input type="date" placeholder="Fecha de Nacimiento" formControlName="fecha_nacimiento" />
                            </div>
                            <!-- Género -->
                            <div class="input-field">
                                <i class="fas fa-angle-down"></i>
                                <select class="form-select" id="inputGroupSelect03" formControlName="sexo">
                  <option value="null">Género...</option>
                  <option value="H">Hombre</option>
                  <option value="M">Mujer</option>
                  <option value="X">Prefiero no decirlo</option>
                </select>
                            </div>
                            <small *ngIf="controlNoValid(registerUsuarioForm,'sexo')" class="form-text text-danger">
                * Elegir una opción válida
                <br>
              </small>
                        </div>
                        <div *ngIf="!part">
                            <!-- Email -->
                            <div class="input-field">
                                <i class="fas fa-envelope"></i>
                                <input type="email" placeholder="Correo Electrónico" formControlName="email" />
                            </div>
                            <small *ngIf="controlNoValid(registerUsuarioForm,'email')" class="form-text text-danger">
                * Correo Electrónico no válido
                <br>
              </small>
                            <!-- Password -->
                            <div class="input-field">
                                <i class="fas fa-lock"></i>
                                <input type="password" placeholder="Contraseña" formControlName="pass" />
                            </div>
                            <small *ngIf="controlNoValid(registerUsuarioForm,'pass')" class="form-text text-danger">
                * Debe contener al menos 6 letras
                <br>
              </small>
                            <!-- Confirm Password -->
                            <div class="input-field">
                                <i class="fas fa-lock"></i>
                                <input type="password" placeholder="Confirmar Contraseña" formControlName="password" />
                            </div>
                            <small *ngIf="controlNoValid(registerUsuarioForm,'password')" class="form-text text-danger">
                * Debe contener al menos 6 letras
                <br>
              </small>
                        </div>
                    </div>
                    <!-- Mostrar botones -->
                    <div *ngIf="type == 'u'">
                        <!-- Next Form -->
                        <button *ngIf="part" (click)="part = !part" class="btn btn-work" type="button">
              Siguiente &nbsp;
              <i class="fas fa-angle-right"></i>
            </button>
                        <!-- Previous Form and Button submit -->
                        <div *ngIf="!part">
                            <button (click)="part = !part" class="btn btn-work" type="button">
                <i class="fas fa-angle-left"></i> Regresar
              </button> &nbsp;
                            <button type="submit" class="btn btn-work">Registrar</button>
                        </div>
                    </div>
                </form>

                <!-- Si selecciona EMPRESA -->
                <form (ngSubmit)="registro(registerEmpresaForm)" [formGroup]="registerEmpresaForm">
                    <!-- Mostrar formulario -->
                    <div *ngIf="type == 'e'">
                        <div *ngIf="part">
                            <!-- Nombre de la empresa -->
                            <div class="input-field">
                                <i class="fas fa-user"></i>
                                <input type="text" placeholder="Nombre de la Empresa" formControlName="nombre" />
                            </div>
                            <small *ngIf="controlNoValid(registerEmpresaForm,'nombre')" class="form-text text-danger">
                * Debe contener al menos 3 letras
                <br>
              </small>
                            <!-- Nombre del administrador -->
                            <div class="input-field">
                                <i class="fas fa-user"></i>
                                <input type="text" placeholder="Nombre del Administrador" formControlName="administrador" />
                            </div>
                            <small *ngIf="controlNoValid(registerEmpresaForm,'administrador')" class="form-text text-danger">
                * Debe contener al menos 3 letras
                <br>
              </small>
                            <!-- Ubicación -->
                            <div class="input-field">
                                <i class="fas fa-user"></i>
                                <input type="text" placeholder="Dirección" formControlName="ubicacion" />
                            </div>
                            <small *ngIf="controlNoValid(registerEmpresaForm,'ubicacion')" class="form-text text-danger">
                * Debe contener al menos 5 letras
                <br>
              </small>
                            <!-- Giro de la empresa -->
                            <div class="input-field">
                                <i class="fas fa-user"></i>
                                <input type="text" placeholder="Giro de la Empresa" formControlName="giro" />
                                <!--Cambiar a un desplegable (Select)-->
                            </div>
                            <small *ngIf="controlNoValid(registerEmpresaForm,'giro')" class="form-text text-danger">
                * Selecionar una opción válida
                <br>
              </small>
                        </div>
                        <div *ngIf="!part">
                            <!-- Email -->
                            <div class="input-field">
                                <i class="fas fa-envelope"></i>
                                <input type="email" placeholder="Correo Electrónico" formControlName="email" />
                            </div>
                            <small *ngIf="controlNoValid(registerEmpresaForm,'email')" class="form-text text-danger">
                * Correo electrónico no válido
                <br>
              </small>
                            <!-- Password -->
                            <div class="input-field">
                                <i class="fas fa-lock"></i>
                                <input type="password" placeholder="Contraseña" formControlName="pass" />
                            </div>
                            <small *ngIf="controlNoValid(registerEmpresaForm,'pass')" class="form-text text-danger">
                * Debe contener al menos 6 letras
                <br>
              </small>
                            <!-- Confirm Password -->
                            <div class="input-field">
                                <i class="fas fa-lock"></i>
                                <input type="password" placeholder="Confirmar Contraseña" formControlName="password" />
                            </div>
                            <!--<small *ngIf="controlNoValid(registerEmpresaForm,'password')" class="form-text text-danger">
                * Debe contener al menos 6 letras
                <br>
              </small>-->
                            <small *ngIf="validarPassword(registerEmpresaForm)" class="form-text text-danger">
                ** La contraseña no concide
              </small>
                        </div>
                        <br>
                    </div>
                    <!-- Mostrar botones -->
                    <div *ngIf="type == 'e'">
                        <!-- Next Form -->
                        <button *ngIf="part" (click)="part = !part" class="btn btn-work" type="button">
              Siguiente &nbsp;
              <i class="fas fa-angle-right"></i>
            </button>
                        <!-- Previous Form and Button submit -->
                        <div *ngIf="!part">
                            <button (click)="part = !part" class="btn btn-work" type="button">
                <i class="fas fa-angle-left"></i> Regresar
              </button> &nbsp;
                            <button type="submit" class="btn btn-work">Registrar</button>
                        </div>
                    </div>
                </form>

                <app-social-media *ngIf="type==''"></app-social-media>
            </form>
        </div>
    </div>

    <!-- Paneles para la informar -->
    <div class="panels-container2">
        <!-- Registro botón y parrafo -->
        <div class="panel left-panel">
            <div class="content">
                <h3>¿Nuevo aquí?</h3>
                <!--<h3>New here ?</h3>-->
                <p>
                    Si no tienes cuenta y quieres formar parte de esta comunidad, registrate... ¿Qué esperas?
                </p>
                <button (click)="formulario()" class="btn transparent" id="sign-up-btn">
          Registrar
        </button>
            </div>
            <img src="assets/img/log.svg" class="image" alt="" />
        </div>
        <!-- Login botón y parrafo -->
        <div class="panel right-panel">
            <div class="content">
                <h3>¿Tienes cuenta?</h3>
                <p>
                    Ingresa con tu correo electrónico y contraseña para utilizar la plataforma.
                </p>
                <button (click)="formulario()" class="btn transparent" id="sign-in-btn">
          Iniciar Sesión
        </button>
            </div>
            <img src="assets/img/register.svg" class="image" alt="" />
        </div>
    </div>
</div>
