<div class="main-content">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-8">
                <div class="col-md-12">
                    <h1>Nombre de la Empresa</h1>
                    <div class="card m-t-3">
                        <!-- Header -->
                        <div class="card-header card-header-primary">
                            <h4 class="card-title">Vacante</h4>
                            <p class="card-category">Crea una vacante para tu negocio</p>
                        </div>
                        <div class="card-body">
                            <app-vacante [sucursales]="sucursales"></app-vacante>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="col-md-12">
                    <img src="../../../assets/img/log.svg" alt="" class="img-thumbnail">
                </div>
                <div class="col-md-12 m-t-2">
                    <app-perfiles [perfiles]="perfiles" [id]="idVacante" [type]="type"></app-perfiles>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-success">
                        <h4 class="card-title">Vacantes Publicadas</h4>
                        <p class="card-category">Lista de todas las vacantes creadas</p>
                    </div>
                    <div class="card-body table-responsive">

                        <table mat-table [dataSource]="dataSource" class="table table-hover">

                            <!--- Note that these columns can be defined in any order.
                              The actual rendered columns are set as a property on the row definition" -->

                            <!-- Position Column -->
                            <ng-container matColumnDef="position">
                                <th mat-header-cell *matHeaderCellDef> No. </th>
                                <td mat-cell *matCellDef="let element"> {{element.position}}
                                </td>

                            </ng-container>

                            <!-- Name Column -->
                            <ng-container matColumnDef="name">
                                <th mat-header-cell *matHeaderCellDef> Name </th>
                                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                            </ng-container>

                            <!-- Weight Column -->
                            <ng-container matColumnDef="weight">
                                <th mat-header-cell *matHeaderCellDef> Weight </th>
                                <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
                            </ng-container>

                            <!-- Symbol Column -->
                            <ng-container matColumnDef="symbol">
                                <th mat-header-cell *matHeaderCellDef> Symbol </th>
                                <td mat-cell *matCellDef="let element"> {{element.symbol}}</td>
                            </ng-container>
                            <ng-container matColumnDef="¿Eliminar vacante?">
                                <tr>
                                    <button mat-raised-button type="button" matTooltip="Edit Task" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                    <i class="material-icons">edit</i>
                                </button>
                                    <button mat-raised-button type="button" matTooltip="Remove" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
                                    <i class="material-icons">close</i>
                                </button>
                                </tr>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>