<div class="container">
    <div class="main-body">

        <!-- Breadcrumb
        <nav aria-label="breadcrumb" class="main-breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item"><a href="javascript:void(0)">User</a></li>
                <li class="breadcrumb-item active" aria-current="page">User Profile</li>
            </ol>
        </nav> -->

        <!-- ======================= Lado Izquierdo ======================= -->

        <!-- Columna de Perfil de Usuario -->
        <div class="row gutters-sm">
            <!-- Foto de perfil con datos personales -->
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Foto de perfil del usuario" class="rounded-circle" width="150">
                            <div class="mt-3">
                                <h4>John Doe</h4>
                                <p class="text-secondary mb-1">Full Stack Developer</p>
                                <p class="text-muted font-size-sm">Bay Area, San Francisco, CA</p>
                                <button class="btn btn-primary">Follow</button>
                                <button class="btn btn-outline-primary">Message</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Habilidades del Usuario -->
                <div class="card mb-3">
                    <div class="card-body">
                        <p class="card-title">Habilidades</p>
                        <hr>
                        <div class="row">
                            <div class="col-sm-9 text-secondary">
                                <ul>
                                    <li>
                                        Kenneth Valdez
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Idiomas del Usuario -->
                <div class="card mb-3">
                    <div class="card-body">
                        <p class="card-title">Idiomas</p>
                        <hr>
                        <div class="row">
                            <div class="col-sm-9 text-secondary">
                                <ul>
                                    <li>
                                        Kenneth Valdez
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Valores del Usuario -->
                <div class="card mb-3">
                    <div class="card-body">
                        <p class="card-title">Valores</p>
                        <hr>
                        <div class="row">
                            <div class="col-sm-9 text-secondary">
                                <ul>
                                    <li>
                                        Kenneth Valdez
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Descargar Curriculum Vitae -->
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img src="https://previews.123rf.com/images/fayethequeen/fayethequeen1706/fayethequeen170600007/79640770-icono-de-documento-curriculum-vitae-curr%C3%ADculum-de-gesti%C3%B3n-de-recursos-humanos-o-an%C3%A1lisis-buscando-material-.jpg" alt="Foto de perfil del usuario"
                                class="rounded-circle" width="150">
                        </div>
                        <div class="mt-3">
                            <div class="d-grid gap-2">
                                <button class="btn btn-primary" type="button">Descargar CV</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <!-- ======================= Lado Derecho ======================= -->
            <div class="col-md-8">

                <!-- Datos Personales de Usuario -->
                <div class="card mb-3">
                    <div class="card-body">
                        <p class="card-title">Datos Personales</p>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Nombre Completo</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                Kenneth Valdez
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Correo Electrónico</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                fip@jukmuh.al
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Teléfono de Casa</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                (239) 816-9029
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Teléfono Móvil</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                (320) 380-4539
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Dirección</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                Ceferino Ortiz 418 col. 37408 León II, León,Gto, México
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Expericia Laboral -->
                <div class="card mb-3">
                    <div class="card-body">
                        <p class="card-title">Experiencia Laboral</p>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Puesto</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                Kenneth Valdez
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Empresa</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                fip@jukmuh.al
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Actividades</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                (239) 816-9029
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Fecha de Entrada</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                (320) 380-4539
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Fecha de Salida</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                Ceferino Ortiz 418 col. 37408 León II, León,Gto, México
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Experiencia Académica -->

                <div class="card mb-3">
                    <div class="card-body">
                        <p class="card-title">Experiencia Académica</p>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Nivel</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                Kenneth Valdez
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Institución</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                fip@jukmuh.al
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Carrera</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                (239) 816-9029
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Generación</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                (320) 380-4539
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">¿Actualmente estudia?</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                Si o no
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Cursos y Certificaciones -->
                <div class="card mb-3">
                    <div class="card-body">
                        <p class="card-title">Certificaciones y/o Cursos</p>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Nombre</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                Kenneth Valdez
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Descripción</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                fip@jukmuh.al
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Constancia</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                (239) 816-9029
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Página Web de certificacion</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                link
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Fecha de Salida</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                Ceferino Ortiz 418 col. 37408 León II, León,Gto, México
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>