<form [formGroup]="laboralForm" (ngSubmit)="actionForm(formDirective)" #formDirective="ngForm">
    <!-- ===== Renglón  -->
    <div class="row">
        <!-- ===== Columna de Puesto ===== -->
        <div class="col-md-6">
            <mat-form-field>
                <input matInput placeholder="Puesto" type="text" formControlName="puesto" required>
                <mat-error *ngIf="campoNoValido('puesto')">Este campo es obligatorio*</mat-error>
            </mat-form-field>
        </div>
        <!-- ===== Columna de Empresa ===== -->
        <div class="col-md-6">
            <mat-form-field>
                <input matInput placeholder="Empresa" type="text" formControlName="empresa" required>
                <mat-error *ngIf="campoNoValido('empresa')">Este campo es obligatorio*</mat-error>
            </mat-form-field>
        </div>
    </div>
    <!-- ===== Renglón ===== -->
    <div class="row">
        <!-- ===== Columna de Actividades ===== -->
        <div class="col-md-12 m-t">
            <mat-form-field>
                <textarea matInput placeholder="Escribe aquí tus actividades" type="text" formControlName="actividades" required></textarea>
                <mat-error *ngIf="campoNoValido('actividades')">Este campo es obligatorio*</mat-error>
            </mat-form-field>
        </div>
    </div>
    <!-- ===== Renglón ===== -->
    <div class="row align-items-center">
        <!-- ===== Columna de Fecha Entrada ===== -->
        <div class="col-md-4">
            <mat-form-field class="example-full-width m-t">
                <mat-label>Fecha de Entrada</mat-label>
                <input matInput [matDatepicker]="dp" formControlName="fecha_entrada" required>
                <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                <mat-datepicker #dp startView="multi-year" (yearSelected)="chosenYearHandler($event, 1)" (monthSelected)="chosenMonthHandler($event, dp, 1)" panelClass="example-month-picker">
                </mat-datepicker>
                <mat-error *ngIf="fechaEntradaValida()">Ingresa un fecha válida</mat-error>
            </mat-form-field>
        </div>
        <!-- ===== Columna de Fecha Salida ===== -->
        <div class="col-md-4">
            <mat-form-field *ngIf="!activedFecha_salida" class="example-full-width m-t">
                <mat-label>Fecha de Salida</mat-label>
                <input matInput [matDatepicker]="dp2" formControlName="fecha_salida">
                <mat-datepicker-toggle matSuffix [for]="dp2"></mat-datepicker-toggle>
                <mat-datepicker #dp2 startView="multi-year" (yearSelected)="chosenYearHandler($event, 2)" (monthSelected)="chosenMonthHandler($event, dp2, 2)" panelClass="example-month-picker">
                </mat-datepicker>
                <mat-error *ngIf="fechaSalidaValida()">Ingresa un fecha válida</mat-error>
            </mat-form-field>
        </div>
        <!-- ===== Columna de Empleo estutus ===== -->
        <div class="col-md-4 text-center m-t">
            <mat-slide-toggle formControlName="trabajando" (click)="ischecked()">
                ¿Empleo actual?
            </mat-slide-toggle>
        </div>
    </div>
    <!-- Renglón justificado al final -->
    <div *ngIf="tipo=='add'">

        <div class="row justify-content-end">
            <!-- ===== btn icon cancelar ===== -->
            <button type="button" class="btn btn-danger btn-sm btn-just-icon m-r" (click)="cancelarAdd(formDirective)" matTooltip="Cancelar">
                <i class="material-icons">close</i>
            </button>
            <!-- ===== btn icon aceptar ===== -->
            <button type="submit" class="btn btn-success btn-sm btn-just-icon m-r" matTooltip="Guardar">
                <i class="material-icons">save</i>
            </button>
        </div>

    </div>

    <div *ngIf="tipo=='update'" class="row justify-content-end">
        <!-- ===== btn icon cancelar ===== -->
        <!-- ===== btn icon cancelar ===== -->
        <button type="button" class="btn btn-danger btn-sm btn-just-icon m-r" (click)="deleteExpLaboral()" matTooltip="Eliminar">
            <i class="material-icons">delete</i>
        </button>
        <!-- ===== btn icon aceptar ===== -->
        <button type="submit" class="btn btn-color btn-sm btn-just-icon m-r" matTooltip="Editar">
            <i class="material-icons">edit</i>
        </button>

    </div>
</form>