<!-- ===== Card de Valores ===== -->
<div class="card">
    <!-- ===== Encabezado de card ===== -->
    <div class="card-header card-header-bdark">
        <h4 class="card-title">
            Valores
        </h4>
        <p class="card-catergory">
            Completa tu perfil
        </p>
    </div>
    <!-- ===== Cuerpo del card ===== -->
    <div class="card-body">
        <!-- ===== Chips de valores ===== -->
        <mat-form-field class="example-chip-list">
            <mat-label>Valores favoritos</mat-label>
            <mat-chip-list #chipListV aria-label="valor selection">
                <mat-chip *ngFor="let valor of valores" [selectable]="selectable" [removable]="removable" (removed)="removeVal(valor)">
                    {{valor.descripcion}}
                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                </mat-chip>
                <input placeholder="Nuevo Valor" #valorInput [formControl]="valorCtrl" [matAutocomplete]="auto" [matChipInputFor]="chipListV" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (matChipInputTokenEnd)="addVal($event)">
            </mat-chip-list>
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectedVal($event)">
                <mat-option *ngFor="let valor of filteredValor | async" [value]="valor">
                    {{valor.descripcion}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
        <div *ngIf="guardarValor" class="row justify-content-end">
            <button type="button" class="btn btn-color btn-sm btn-just-icon m-r" (click)="guardarValores()" title="Guardar">
                <i class="material-icons">save</i>
            </button>
        </div>
    </div>
</div>