
<!-- ===== Card Perfil ====== -->
<div class="card card-profile">

	<!-- Picture default -->
	<div class="card-avatar" *ngIf="!profile.foto_perfil">
		<img class="img" src="./assets/img/faces/marc.jpg"/>
	</div>

	<!-- Picture Perfil -->
	<div class="card-avatar" *ngIf="profile.foto_perfil">
		<img class="img" [src]="profile.foto_perfil"/>
	</div>

	<!-- Cuerpo del card -->
	<div class="card-body">

		<!-- Si es Company -->
		<div *ngIf="profile.pagina_web">

			<h4 [routerLink]="['/see-company',profile.id_usuario]" class="cursor card-title">{{ profile.nombre }}</h4>

			<h6 class="card-category text-gray">
				<a href="https://{{ profile.pagina_web }}">Página Web</a>
			</h6>

		</div>

		<!-- Si es Postulante -->
		<div *ngIf="!profile.pagina_web">

			<h4 [routerLink]="['/see-profile',profile.id_usuario]" class="cursor card-title">{{ profile.nombre }}</h4>

			<h6 class="card-category text-lowercase text-gray">
				{{ profile.email }}
			</h6>

		</div>

		<h5 class="text-muted">Calificación</h5>
		<p>{{ profile.calificacion }}/5</p>

	</div>

</div>



