<div class="main-content">
    <div class="container-fluid">
        <!-- ===== Primer Renglón ===== -->
        <div class="row align-items-center">
            <!-- ===== Columna de Perfil -->
            <div class="col-md-4">
                <!-- ===== Foto de Perfil ====== -->
                <div class="card card-profile">
                    <div class="card-avatar">
                        <a href="javascript:void(0)">
                            <img class="img" src="./assets/img/faces/marc.jpg" />
                        </a>
                    </div>
                    <!-- Cuerpo del card -->
                    <div class="card-body">
                        <h6 class="card-category text-gray">Nombre Completo</h6>
                        <h4 class="card-title">Email</h4>
                        <p class="card-description">
                            Telefono
                        </p>
                        <button class="btn btn-rose">Cargar foto</button>
                    </div>
                </div>


            </div>
            <!-- ===== Columna de Datos personales ===== -->
            <div class="col-md-8">
                <!-- ===== Card de Datos personales ===== -->
                <div class="card">
                    <!-- ===== Encabezado de Card ===== -->
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">Editar Perfil</h4>
                        <p class="card-category">Completar tu perfil</p>
                    </div>
                    <!-- ===== Contenido de Card ===== -->
                    <div class="card-body">
                        <!-- ===== Formulario de Datos Personales ===== -->
                        <app-user-form></app-user-form>
                    </div>
                </div>
            </div>
        </div>

        <!-- ===== Segundo Renglón ===== -->
        <div class="row align-items-center">
            <!-- ===== Columna de Habilidades y Valores ===== -->
            <div class="col-md-4">
                <!-- ===== Card de Habilidades ===== -->
                <div class="card">
                    <!-- ===== Encabezado de Card ===== -->
                    <div class="card-header card-header-success">
                        <h4 class="card-title">
                            Habilidades
                        </h4>
                        <p class="card-catergory">
                            Completa tu perfil
                        </p>
                    </div>
                    <!-- ===== Contenido del card (habilidades) ===== -->
                    <div class="card-body">
                        <!-- ===== Chips de habilidades ===== -->
                        <mat-form-field class="example-chip-list">
                            <mat-label>Habilidades favoritas</mat-label>
                            <mat-chip-list #chipList aria-label="habilidad selection">
                                <mat-chip *ngFor="let habilidad of habilidades" [selectable]="selectable" [removable]="removable" (removed)="remove(habilidad)">
                                    {{habilidad.name}}
                                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                                </mat-chip>
                                <input placeholder="Nueva Habilidad" [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)">
                            </mat-chip-list>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <!-- ===== Columna de Experiencia Laboral ===== -->
            <div class="col-md-8">
                <!-- ===== Card de Experiencia Laboral ===== -->
                <div class="card">
                    <!-- ===== Encabezado de Experiencia Laboral ===== -->
                    <div class="card-header card-header-warning">
                        <h4 class="card-title">Experiencia Laboral</h4>
                        <p class="card-category">Completa tu perfil</p>
                    </div>
                    <!-- ===== Cuerpo del card ===== -->
                    <div class="card-body">
                        <mat-accordion class="example-headers-align" multi>
                            <mat-expansion-panel hideToggle>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        Nueva
                                    </mat-panel-title>
                                    <mat-panel-description>
                                        Experiencia Laboral
                                        <mat-icon>add</mat-icon>
                                    </mat-panel-description>
                                </mat-expansion-panel-header>
                                <!-- ===== Formulario para agregar una experiencia laboral ===== -->
                                <app-experiencia-laboral-form></app-experiencia-laboral-form>
                            </mat-expansion-panel>

                            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        Director General
                                    </mat-panel-title>
                                    <mat-panel-description>
                                        Productividad Empresarial
                                        <mat-icon>done</mat-icon>
                                    </mat-panel-description>
                                </mat-expansion-panel-header>
                                <!-- ===== Formulario para editar experiencia laboral ===== -->
                                <app-experiencia-laboral-form></app-experiencia-laboral-form>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </div>
                </div>
            </div>
        </div>

        <!-- ===== Tercer Renglón ===== -->
        <div class="row align-items-center">
            <!-- ===== Columna de Idiomas ===== -->
            <div class="col-md-4">
                <div class="card">
                    <!-- ===== Encabezado de Card ===== -->
                    <div class="card-header card-header-rose">
                        <h4 class="card-title">
                            Idiomas
                        </h4>
                        <p class="card-catergory">
                            Completa tu perfil
                        </p>
                    </div>
                    <div class="card-body">
                        <!-- ===== Chips de idiomas ===== -->
                        <mat-form-field class="example-chip-list">
                            <mat-label>Idiomas favoritos</mat-label>
                            <mat-chip-list #chipList aria-label="habilidad selection">
                                <mat-chip *ngFor="let habilidad of habilidades" [selectable]="selectable" [removable]="removable" (removed)="remove(habilidad)">
                                    {{habilidad.name}}
                                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                                </mat-chip>
                                <input placeholder="Nuevo Idioma" [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)">
                            </mat-chip-list>
                        </mat-form-field>
                    </div>
                </div>


            </div>
            <!-- ===== Columna de Experiencia Academica ===== -->
            <div class="col-md-8">
                <div class="card">
                    <!-- ===== Encabezado de Card ===== -->
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">
                            Experiencia Acádemica
                        </h4>
                        <p class="card-catergory">
                            Completa tu perfil
                        </p>
                    </div>
                    <div class="card-body">

                        <mat-accordion class="example-headers-align" multi>
                            <mat-expansion-panel hideToggle>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        Nueva
                                    </mat-panel-title>
                                    <mat-panel-description>
                                        Experiencia
                                        <mat-icon>add</mat-icon>
                                    </mat-panel-description>
                                </mat-expansion-panel-header>
                                <!-- ===== Formulario para agregar una experiencia academica ===== -->
                                <app-experiencia-academica-form></app-experiencia-academica-form>
                            </mat-expansion-panel>

                            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        Licenciatura
                                    </mat-panel-title>
                                    <mat-panel-description>
                                        ITSPR
                                        <mat-icon>done</mat-icon>
                                    </mat-panel-description>
                                </mat-expansion-panel-header>
                                <!-- ===== Formulario para editar experiencia academica ===== -->
                                <app-experiencia-academica-form></app-experiencia-academica-form>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </div>
                </div>
            </div>
        </div>

        <!-- ===== Cuarto Renglón ===== -->
        <div class="row align-items-center">
            <!-- ==== btn Descargar CV ====-->
            <div class="col-md-4">
                <!-- ===== Card de Valores ===== -->
                <div class="card">
                    <!-- ===== Encabezado de card ===== -->
                    <div class="card-header card-header-info">
                        <h4 class="card-title">
                            Valores
                        </h4>
                        <p class="card-catergory">
                            Completa tu perfil
                        </p>
                    </div>
                    <!-- ===== Cuerpo del card ===== -->
                    <div class="card-body">
                        <!-- ===== Chips de valores ===== -->
                        <mat-form-field class="example-chip-list">
                            <mat-label>Valores favoritos</mat-label>
                            <mat-chip-list #chipList aria-label="habilidad selection">
                                <mat-chip *ngFor="let habilidad of habilidades" [selectable]="selectable" [removable]="removable" (removed)="remove(habilidad)">
                                    {{habilidad.name}}
                                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                                </mat-chip>
                                <input placeholder="Nuevo Valor" [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)">
                            </mat-chip-list>
                        </mat-form-field>
                    </div>
                </div>
            </div>

            <!-- ===== Cursos y/o Certificados =====-->
            <div class="col-md-8">
                <div class="card">
                    <!-- ===== Encabezado de Card ===== -->
                    <div class="card-header card-header-success">
                        <h4 class="card-title">
                            Cursos y/o Certificados
                        </h4>
                        <p class="card-catergory">
                            Completa tu perfil
                        </p>
                    </div>
                    <div class="card-body">

                        <mat-accordion class="example-headers-align" multi>
                            <mat-expansion-panel hideToggle>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        Agregar
                                    </mat-panel-title>
                                    <mat-panel-description>
                                        Nuevo curso o certificacion
                                        <mat-icon>add</mat-icon>
                                    </mat-panel-description>
                                </mat-expansion-panel-header>
                                <!-- ===== Formulario para agregar un curso o certificacion ===== -->
                                <app-curso-certificacion-form></app-curso-certificacion-form>
                            </mat-expansion-panel>

                            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        Nombre
                                    </mat-panel-title>
                                    <mat-panel-description>
                                        Constancia
                                        <mat-icon>done</mat-icon>
                                    </mat-panel-description>
                                </mat-expansion-panel-header>
                                <!-- ===== Formulario para agregar un curso o certificacion ===== -->
                                <app-curso-certificacion-form></app-curso-certificacion-form>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-center align-items-center">
            <div class="col-md-6 text-center">
                <img src="../../../assets/img/log.svg" class="img-fluid" alt="..." width="50%">
            </div>
            <div class="col-md-6 text-center">
                <button class="btn btn-warning" type="button">Descargar CV</button>
            </div>
        </div>
    </div>
</div>