<div class="main-content">
    <div class="container-fluid">

        <!-- Spinner -->
        <div *ngIf="!vacantes" class="row justify-content-center align-items-center vh-100">
            <mat-spinner></mat-spinner>
        </div>

        <!-- Carousel -->
        <!--<div class="row">
			<div class="col-md-12">
				<mat-carousel timings="250ms ease-in" [autoplay]="true" interval="5000" color="primary" maxWidth="auto" proportion="25" slides="5" [loop]="true" [hideArrows]="false" [hideIndicators]="false" [useKeyboard]="true" [useMouseWheel]="false" orientation="ltr">
					<mat-carousel-slide #matCarouselSlide *ngFor="let slide of slides; let i = index" [image]="slide.image" overlayColor="#e0e0e0  " [hideOverlay]="false"></mat-carousel-slide>
				</mat-carousel>
			</div>
		</div>-->



        <!-- Cards de lista de vacantes disponibles -->
        <div class="row">
            <div class="col-md-12" *ngFor="let vacante of vacantes | paginate:page_size:page_number">
                <div class="card mb-3">
                    <div class="posicion-t-r">
                        <!-- Boton de Favorito -->
                        <mat-icon (click)="unmarkFavorite(vacante.id_vacante_favorita)" class="text-danger justify-content-md-end" style="cursor:pointer">favorite</mat-icon>
                    </div>
                    <div class="row g-0 align-items-center justify-content-center">
                        <div class="col-md-2">
                            <img src="../../../assets/img/IECA-Blanco.jpg" class="card-img-bottom" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">{{vacante.Vacante.puesto}} </h5>
                                <p class="card-text text-primary">{{vacante.Vacante.modalidad}}</p>
                                <p class="card-text">Juan</p>
                                <p class="card-text"><small class="text-muted">Fecha publicación: {{vacante.Vacante.fecha_publicacion}}</small></p>
                            </div>
                        </div>
                        <div class="posicion-b-r">
                            <a class="text-primary" (click)="visualizar(vacante.Vacante.id_vacante)" style="cursor:pointer">Ver más ...</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- Paginación -->
        <div class="row justify-content-end m-t-2">
            <div class="col-md-12">
                <mat-paginator [length]="vacantes.length" [pageSize]="page_size" [pageSizeOptions]="pageSizeOptions" showFirstLastButtons (page)="handlePage($event)">
                </mat-paginator>
            </div>
        </div>

    </div>
</div>