<div class="main-content">
	<div class="container-fluid">

		<!-- Spinner -->
		<div *ngIf="!reviews" class="row justify-content-center align-items-center vh-100">
			<mat-spinner></mat-spinner>
		</div>

		<div *ngIf="reviews" class="container-fluid">
			<div class="row align-items-center m-t-3">

				<!-- Resenias -->
				<div *ngIf="reviews.length > 0" class="col">
					<mat-card class="example-card" *ngFor="let review of reviews">

						<mat-card-header>
							<div mat-card-avatar class="example-header-image"></div>
							<mat-card-title>{{ review.nombre }}</mat-card-title>
							<mat-card-subtitle class="valoracion" title="Calificame">
								<button [class.star]="review.Resenia.calificacion >= 5" (click)="updateCalificar(review.id_usuario, 5, review.Resenia.comentario)"><span class="material-icons md-24">star</span></button>
								<button [class.star]="review.Resenia.calificacion >= 4" (click)="updateCalificar(review.id_usuario, 4, review.Resenia.comentario)"><span class="material-icons md-24">star</span></button>
								<button [class.star]="review.Resenia.calificacion >= 3" (click)="updateCalificar(review.id_usuario, 3, review.Resenia.comentario)"><span class="material-icons md-24">star</span></button>
								<button [class.star]="review.Resenia.calificacion >= 2" (click)="updateCalificar(review.id_usuario, 2, review.Resenia.comentario)"><span class="material-icons md-24">star</span></button>
								<button [class.star]="review.Resenia.calificacion >= 1" (click)="updateCalificar(review.id_usuario, 1, review.Resenia.comentario)"><span class="material-icons md-24">star</span></button>
							</mat-card-subtitle>
						</mat-card-header>

						<mat-card-content>
							<mat-form-field class="example-full-width">
								<mat-label>Comentario</mat-label>
								<textarea matInput #comentario [value]="review.Resenia.comentario || ''" placeholder="Opcional"></textarea>
							</mat-form-field>
						</mat-card-content>

						<mat-card-actions class="align-end">
							<button class="btn btn-success m-2"
							        (click)="updateCalificar(review.id_usuario, review.Resenia.calificacion, comentario.value, true)"
							        mat-button>
								Publicar
							</button>
							<!--<button class="btn btn-success m-2"

							        mat-button>
								Publicar
							</button>-->
						</mat-card-actions>

					</mat-card>
				</div>

				<!-- Sin Resenias -->
				<div *ngIf="reviews.length === 0" class="col">
					<div class="alert alert-warning text-center mt-3" role="alert">
						<h2 class="alert-heading font-weight-bolder">Sin registro</h2>
						<i class="fa fa-warning fa-4x" style="color: whitesmoke"></i>
						<p class="m-t-2 flex-shrink-0 me-2">
							Hay que esperar 15 días después de aceptar a un postulante o ser aceptado por una
							empresa	para poder calificarla/lo o NO tienes nada por calificar.
						</p>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>
