<div class="main-content">
    <!-- Botón de regresar y postular -->
    <div class="row align-items-center">
        <div class="col-10">
            <mat-icon routerLink="/vacancies" class="m-l-5" style="cursor:pointer">arrow_back_ios</mat-icon>
        </div>
        <div class="col-2" *ngIf="postulacion">
            <button type="button" class="btn btn-rose btn-lg" (click)="validarPerfil()">Postularme</button>
        </div>
        <div class="col-2" *ngIf="!postulacion">
            <button type="button" class="btn btn-rose btn-lg " (click)="confirmarCancelarPostulacion()">Cancelar Postulacion</button>
        </div>
    </div>
    <!-- Spinner -->
    <div *ngIf="!vacante" class="row justify-content-center align-items-center vh-100">
        <mat-spinner></mat-spinner>
    </div>
    <!-- Información de la vacante -->
    <div *ngIf="vacante" class="container-fluid">
        <div class="row align-items-center m-t-3">

            <!-- Datos de la vacante -->
            <div class="col-md-12">
                <div class="row align-items-center">
                    <div class="col-md-4">
                        <img src="../../../assets/img/IECA-Blanco.jpg" alt="" class="card-img-top">
                    </div>
                    <div class="col-md-4">
                        <h2 class="font-weight-bold">{{vacante.puesto}}</h2>
                        <h3>{{vacante.nombre}}</h3>
                        <h3>{{vacante.id_sucursal_fk}}</h3>
                    </div>
                    <div class="col-md-4 align-self-center">
                        <h3>Modalidad: {{vacante.modalidad}}</h3>
                        <h3>Sueldo: {{vacante.sueldo}}</h3>
                        <h3>Nivel: {{vacante.nivel}}</h3>
                    </div>
                </div>
                <br>
                <h3 class="font-weight-bold">Características:</h3>
                <div class="row align-items-center">
                    <div class="col-md-12 ">
                        <hr>
                        <h3>{{vacante.descripcion}}</h3>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>