<div class="main-content">
    <div *ngIf="vacante" class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-4">
                <div class="col-md-12">
                    <img src="../../../assets/img/IECA-Blanco.jpg" alt="" class="card-img-top">
                </div>
            </div>
            <div class="col-md-4">
                <h1>{{vacante.puesto}}</h1>
                <h2>{{vacante.id_usuario_fk}}</h2>
                <h3>{{vacante.id_sucursal_fk}}</h3>
            </div>
            <div class="col-md-4">
                <h3>{{vacante.modalidad}}</h3>
                <h3>{{vacante.sueldo}}</h3>
                <h3>{{vacante.nivel}}</h3>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-md-12 ">
                <h3 class="py-5">{{vacante.descripcion}}
                </h3>
            </div>
        </div>

        <div class="row justify-content-end">
            <div class="col-md-12">
                <button type="button" class="btn btn-rose btn-lg btn-block" (click)="postularme()">Postularme</button>
            </div>
        </div>
    </div>
</div>