<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">content_copy</i>
                        </div>
                        <p class="card-category">Vistas</p>
                        <h3 class="card-title">49</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons text-warning">warning</i>
                            <a>Postulantes</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">store</i>
                        </div>
                        <p class="card-category">Alcance</p>
                        <h3 class="card-title">49</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons text-success">local_offer</i>
                            <a>Postulantes</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-stats">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">store</i>
                        </div>
                        <p class="card-category">Postulaciones</p>
                        <h3 class="card-title">12</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons text-info">update</i>
                            <a>Recién actualizado</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row align-items-center">
            <div class="col-md-8">
                <div class="card m-t-3">
                    <!-- Header -->
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">Vacante</h4>
                        <p class="card-category">Actualiza la vacante</p>
                    </div>
                    <div class="card-body">
                        <app-vacante-form [idVacante]="idVacante"></app-vacante-form>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="col-md-12">
                    <img src="../../../assets/img/log.svg" alt="" class="img-thumbnail">
                </div>
                <app-perfiles [perfiles]="perfiles" [id]="idVacante" [type]="'Vacante'"></app-perfiles>
            </div>
        </div>
        <div class="row">
            <h1>Postulantes</h1>
        </div>
        <div class="row m-t-2">
            <!-- ===== Columna de Perfil -->
            <div class="col-md-4" *ngFor="let postulante of postulantes">
                <!-- ===== Foto de Perfil ====== -->
                <div class="card card-profile">
                    <div class="card-avatar">
                        <img class="img" src="./assets/img/faces/marc.jpg" />
                    </div>
                    <!-- Cuerpo del card -->
                    <div class="card-body">
                        <h6 class="card-category text-gray">{{postulante.Usuario.nombre}}</h6>
                        <h4 class="card-title">{{postulante.Usuario.email}}</h4>
                        <p class="card-description">{{postulante.Usuario.telefono}}</p>
                        <p class="card-description">{{postulante.fecha_postulacion}}</p>
                        <p class="card-description">{{postulante.Usuario.calificacion}}</p>
                    </div>
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-danger btn-sm m-r" (click)="rechazarPostulacion(postulante.id_postulacion)">
                            <i class="material-icons">cancel</i> Rechazar
                        </button>
                        <button type="submit" class="btn btn-primary btn-sm m-r" (click)="aceptarPostulacion(postulante.id_postulacion)">
                            <i class="material-icons">done</i> Aceptar
                        </button>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>