<div class="main-content">
    <div class="container-fluid">
        <!-- Carousel -->
        <div class="row">
            <div class="col-md-12">
                <mat-carousel timings="250ms ease-in" [autoplay]="true" interval="5000" color="primary" maxWidth="auto" proportion="25" slides="5" [loop]="true" [hideArrows]="false" [hideIndicators]="false" [useKeyboard]="true" [useMouseWheel]="false" orientation="ltr">
                    <mat-carousel-slide #matCarouselSlide *ngFor="let slide of slides; let i = index" [image]="slide.image" overlayColor="#e0e0e0  " [hideOverlay]="false"></mat-carousel-slide>
                </mat-carousel>
            </div>
        </div>
        <!-- Cards de lista de vacantes disponibles -->
        <div class="row">
            <div class="col-md-4" *ngFor="let vacante of listaVacantes">
                <div class="card-group">
                    <div class="card">
                        <img src="../../../assets/img/IECA-Blanco.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{vacante.puesto}}</h5>
                            <p class="card-text">{{vacante.descripcion}}</p>
                            <button type="button" class="btn btn-primary btn-lg btn-block" (click)="visualizar(vacante.id_vacante)">Visualizar</button>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Fecha de pubicación: {{vacante.fecha_publicacion}}</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Paginación -->
        <div class="row justify-content-end m-t-2">
            <div class="col-md-12">
                <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
                </mat-paginator>
            </div>
        </div>
    </div>
</div>