<footer>
    <div class="top" style="background-color: #DADADA; padding-top: 0px; color: black;">
        <div class="container">
            <div class="center">
                <p class="row justify-content-center"><br><img src="http://www.educafin.com/assets/img/logo-gl.png"></p>
                <p class="row justify-content-center">FRAY MARTÍN DE VALENCIA 102 FRACC. SANTO DOMINGO</p>
                <p class="row justify-content-center">CP 37557, LEÓN, GTO.</p>
                <p class="row justify-content-center">(477)7103400</p>
                <p class="row justify-content-center">
                    <a href="https://twitter.com/EducafinSube" target="_blank" class="btn  btn-circle ">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                    </a>
                    <a href="https://www.facebook.com/educafingto/" target="_blank" class="btn  btn-circle ">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                    </a>
                    <a href="https://www.youtube.com/channel/UCNxjn155hP-SHqu1m4C4w4w" target="_blank" class="btn  btn-circle ">
                        <i class="fa fa-youtube-play" aria-hidden="true"></i>
                    </a>
                    <a href="https://www.instagram.com/educafin_sube/?hl=es-la" target="_blank" class="btn  btn-circle ">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                </p>
                <p class="row justify-content-center"><i class="fa fa-copyright" aria-hidden="true"></i>{{year}} - Gobierno del Estado de Guanajuato, Derechos Reservados</p>
                <p class="row justify-content-center"><a href="http://educafin.com/aviso-privacidad">Aviso de Privacidad</a></p>
            </div>
        </div>
    </div>
</footer>